.main{
    &__resultCard{
        background-color: $primaryDark;
        border: 1px solid $secondaryDark;
        border-radius: 1rem;
        padding: 1.4rem 0;
        margin-top: 2rem;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

}